@model MvcWebApplication.Models.ItemInformation.BoardGameInformation.BoardGame

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<br />
<div>
    <h4>Board Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Controller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Controller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPlayerNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPlayerNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinPlayerNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinPlayerNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoardGameBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoardGameBrand.BrandName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UPC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UPC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFilePath)
        </dt>
        <dd class = "col-sm-10">
            <img src="@(Model.ImageFilePath)" alt="@(Model.Title)" width="200" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
