@model PaginatedList<MvcWebApplication.Models.ItemInformation.BoardGameInformation.BoardGame>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Board Game</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
<form asp-controller="BoardGames" asp-action="Index" method="get">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Board Game Title" name="searchString">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" value="Search">Search</button>
            <a asp-action="Index"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-sortOrder="@ViewData["TitleSort"]"
               class="btn btn-outline-secondary"
               type="button">
                @if (ViewData["TitleSort"].ToString() == "title_desc")
                {
                    <i class="fas fa-sort-alpha-down"></i>
                }
                else
                {
                    <i class="fas fa-sort-alpha-up"></i>
                }
            </a>
            <a asp-action="Index"
               class="btn btn-outline-danger"
               type="button">
                Clear
            </a>
        </div>
    </div>
</form>
<br />

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model[0].ImageFilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].MaxPlayerNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].MinPlayerNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].BoardGameBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].UPC)
            </th>

            <th>
                @Html.DisplayNameFor(model => model[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ImageFilePath" alt="@item.Title" width="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPlayerNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinPlayerNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardGameBrand.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UPC)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a asp-action="Index"
                asp-route-pageNumber="@(Model.PageIndex - 1)"
                asp-route-currentFilter="@ViewData["CurrentFilter"]"
                asp-route-sortOrder="@ViewData["CurrentSort"]"
                class="page-link">
                Previous
            </a>
        </li>
        <li class="page-item @nextDisabled">
            <a asp-action="Index"
                asp-route-pageNumber="@(Model.PageIndex + 1)"
                asp-route-currentFilter="@ViewData["CurrentFilter"]"
                asp-route-sortOrder="@ViewData["CurrentSort"]"
                class="page-link">
                Next
            </a>
        </li>
    </ul>
</nav>
